@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@config "../../tailwind.config.cjs";
@custom-variant dark (&:is(.dark *));

:root {
  /* Colors */
  --color-primary: #5fb0c2;
  --color-secondary: rgb(88 28 135);
  --color-muted: rgb(100 116 139);

  /* Spacing */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 18px;

  /* Typography */
  --font-sans:
    'Instrument Sans', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #000;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #5fb0c2;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  color: var(--color-muted);
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding: 0 48px;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: #5fb0c2;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

h1 {
  font-size: 54px;
  line-height: 1.2 !important;
}

h2 {
  font-size: 46px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.4;
}

h6 {
  font-size: 1rem;
  line-height: 1.4;
}

.shape-style-1 {
  -webkit-clip-path: polygon(
    calc(100% - 20px) 0,
    calc(100% - 20px) 0,
    calc(100% - 16.755822px) 0.26176637px,
    calc(100% - 13.678336px) 1.01961376px,
    calc(100% - 10.808714px) 2.23236459px,
    calc(100% - 8.188128px) 3.85884128px,
    calc(100% - 5.85775px) 5.85786625px,
    calc(100% - 3.858752px) 8.18826192px,
    calc(100% - 2.232306px) 10.80885071px,
    calc(100% - 1.019584px) 13.67845504px,
    calc(100% - 0.261758px) 16.75589733px,
    calc(100% - 0px) 20px,
    calc(100% - 0px) calc(100% - 20px),
    calc(100% - 0px) calc(100% - 20px),
    calc(100% - 0.261758px) calc(100% - 16.755822px),
    calc(100% - 1.019584px) calc(100% - 13.678336px),
    calc(100% - 2.232306px) calc(100% - 10.808714px),
    calc(100% - 3.858752px) calc(100% - 8.188128px),
    calc(100% - 5.85775px) calc(100% - 5.85775px),
    calc(100% - 8.188128px) calc(100% - 3.858752px),
    calc(100% - 10.808714px) calc(100% - 2.232306px),
    calc(100% - 13.678336px) calc(100% - 1.019584px),
    calc(100% - 16.755822px) calc(100% - 0.261758px),
    calc(100% - 20px) calc(100% - 0px),
    calc(100% - 20px) calc(100% - 0px),
    calc(100% - 24.914044px) calc(100% - 0px),
    calc(100% - 38.552352px) calc(100% - 0px),
    calc(100% - 59.259188px) calc(100% - 0px),
    calc(100% - 85.378816px) calc(100% - 0px),
    calc(100% - 115.2555px) calc(100% - 0px),
    calc(100% - 147.233504px) calc(100% - 0px),
    calc(100% - 179.657092px) calc(100% - 0px),
    calc(100% - 210.870528px) calc(100% - 0px),
    calc(100% - 239.218076px) calc(100% - 0px),
    calc(100% - 263.044px) calc(100% - 0px),
    148.956px calc(100% - 0px),
    141.7424066px calc(100% - 0.868261px),
    135.7796128px calc(100% - 3.269048px),
    130.7435982px calc(100% - 6.819867px),
    126.3103424px calc(100% - 11.138224px),
    122.155825px calc(100% - 15.841625px),
    117.9560256px calc(100% - 20.547576px),
    113.3869238px calc(100% - 24.873583px),
    108.1244992px calc(100% - 28.437152px),
    101.8447314px calc(100% - 30.855789px),
    94.2236px calc(100% - 31.747px),
    22.2305px calc(100% - 31.747px),
    22.2305px calc(100% - 31.747px),
    16.19741876px calc(100% - 32.257571px),
    11.36840101px calc(100% - 33.643488px),
    7.60942554px calc(100% - 35.686057px),
    4.78647114px calc(100% - 38.166584px),
    2.76551661px calc(100% - 40.866375px),
    1.41254076px calc(100% - 43.566736px),
    0.59352237px calc(100% - 46.048973px),
    0.17444025px calc(100% - 48.094392px),
    0.0212732px calc(100% - 49.484299px),
    0 calc(100% - 50px),
    0 20px,
    0 20px,
    0.26176637px 16.75589733px,
    1.01961376px 13.67845504px,
    2.23236459px 10.80885071px,
    3.85884128px 8.18826192px,
    5.85786625px 5.85786625px,
    8.18826192px 3.85884128px,
    10.80885071px 2.23236459px,
    13.67845504px 1.01961376px,
    16.75589733px 0.26176637px,
    20px 0,
    calc(100% - 20px) 0
  );
  clip-path: polygon(
    calc(100% - 20px) 0,
    calc(100% - 20px) 0,
    calc(100% - 16.755822px) 0.26176637px,
    calc(100% - 13.678336px) 1.01961376px,
    calc(100% - 10.808714px) 2.23236459px,
    calc(100% - 8.188128px) 3.85884128px,
    calc(100% - 5.85775px) 5.85786625px,
    calc(100% - 3.858752px) 8.18826192px,
    calc(100% - 2.232306px) 10.80885071px,
    calc(100% - 1.019584px) 13.67845504px,
    calc(100% - 0.261758px) 16.75589733px,
    calc(100% - 0px) 20px,
    calc(100% - 0px) calc(100% - 20px),
    calc(100% - 0px) calc(100% - 20px),
    calc(100% - 0.261758px) calc(100% - 16.755822px),
    calc(100% - 1.019584px) calc(100% - 13.678336px),
    calc(100% - 2.232306px) calc(100% - 10.808714px),
    calc(100% - 3.858752px) calc(100% - 8.188128px),
    calc(100% - 5.85775px) calc(100% - 5.85775px),
    calc(100% - 8.188128px) calc(100% - 3.858752px),
    calc(100% - 10.808714px) calc(100% - 2.232306px),
    calc(100% - 13.678336px) calc(100% - 1.019584px),
    calc(100% - 16.755822px) calc(100% - 0.261758px),
    calc(100% - 20px) calc(100% - 0px),
    calc(100% - 20px) calc(100% - 0px),
    calc(100% - 24.914044px) calc(100% - 0px),
    calc(100% - 38.552352px) calc(100% - 0px),
    calc(100% - 59.259188px) calc(100% - 0px),
    calc(100% - 85.378816px) calc(100% - 0px),
    calc(100% - 115.2555px) calc(100% - 0px),
    calc(100% - 147.233504px) calc(100% - 0px),
    calc(100% - 179.657092px) calc(100% - 0px),
    calc(100% - 210.870528px) calc(100% - 0px),
    calc(100% - 239.218076px) calc(100% - 0px),
    calc(100% - 263.044px) calc(100% - 0px),
    148.956px calc(100% - 0px),
    141.7424066px calc(100% - 0.868261px),
    135.7796128px calc(100% - 3.269048px),
    130.7435982px calc(100% - 6.819867px),
    126.3103424px calc(100% - 11.138224px),
    122.155825px calc(100% - 15.841625px),
    117.9560256px calc(100% - 20.547576px),
    113.3869238px calc(100% - 24.873583px),
    108.1244992px calc(100% - 28.437152px),
    101.8447314px calc(100% - 30.855789px),
    94.2236px calc(100% - 31.747px),
    22.2305px calc(100% - 31.747px),
    22.2305px calc(100% - 31.747px),
    16.19741876px calc(100% - 32.257571px),
    11.36840101px calc(100% - 33.643488px),
    7.60942554px calc(100% - 35.686057px),
    4.78647114px calc(100% - 38.166584px),
    2.76551661px calc(100% - 40.866375px),
    1.41254076px calc(100% - 43.566736px),
    0.59352237px calc(100% - 46.048973px),
    0.17444025px calc(100% - 48.094392px),
    0.0212732px calc(100% - 49.484299px),
    0 calc(100% - 50px),
    0 20px,
    0 20px,
    0.26176637px 16.75589733px,
    1.01961376px 13.67845504px,
    2.23236459px 10.80885071px,
    3.85884128px 8.18826192px,
    5.85786625px 5.85786625px,
    8.18826192px 3.85884128px,
    10.80885071px 2.23236459px,
    13.67845504px 1.01961376px,
    16.75589733px 0.26176637px,
    20px 0,
    calc(100% - 20px) 0
  );
}

button,
a {
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-primary);
}
.text-main {
  color: #0f172a !important;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 1.2 !important;
  }

  h2 {
    font-size: 28px !important;
    line-height: 1.2 !important;
  }
}
::-webkit-scrollbar {
    height: 5px;
    width: 8px
}

::-webkit-scrollbar-track {
    background: #d8d8d8
}

::-webkit-scrollbar-thumb {
    background:var(--secondary);
}

.custom-swiper-style-1 .swiper-slide.swiper-slide-active {
    transition: all 0.5s ease;
    transform: scale(1.1);
}
.custom-swiper-style-1 .swiper-slide.swiper-slide-active {
    transition: all 0.5s ease;
}
.custom-swiper-style-1 .swiper-slide.swiper-slide-active img,
.custom-swiper-style-1 .swiper-slide:not(.swiper-slide-active) ul,
.custom-swiper-style-1 .swiper-slide-active .hideonactive {
  display: none;
}
.custom-swiper-style-1 .swiper-slide.swiper-slide-active article {
  background: radial-gradient(
    circle at top left,
    #6ab8c9 0%,
    #4f9fb2 55%,
    #2f7f93 100%
  );


}

.custom-swiper-style-1 .swiper-wrapper {
  padding: 25px 0;
}
.custom-swiper-style-2.swiper {
  overflow: visible !important;
}
.marquee-row {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding:10px 0 30px;
}

.marquee-track {
  display: flex;
  width: max-content;
  gap: 16px;
  will-change: transform;
}

.marquee-left {
  animation: marquee-left 35s linear infinite;
}

.marquee-right {
  animation: marquee-right 35s linear infinite;
}

.marquee-row:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 8px));
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(calc(-50% - 8px));
  }
  to {
    transform: translateX(0);
  }
}
.custom-swiper-style-2 .swiper-wrapper {
  align-items: stretch;
}

.custom-swiper-style-2 .swiper-slide {
  height: auto;
}
.custom-slick-style-2 .slick-list {
  margin-inline: -9px;
  /* overflow: visible; */
}

.custom-slick-style-2 .slick-track {
  display: flex;
  align-items: stretch;
}

.custom-slick-style-2 .slick-slide {
  height: auto;
}

.custom-slick-style-2 .slick-slide > div {
  height: 100%;
  padding-inline: 9px;
}

.swiper-pagination {
    margin-top: 15px;
}
.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: var(--secondary) !important;
}
.swiper-pagination.swiper-pagination-bullets {
  position: relative;
  margin-top: 30px;
}
.swiper-pagination-bullet {
  background: #c1c1c1 !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--secondary) !important;
}
.slick-slide>div {
    padding-inline: 9px;
}
.slick-dots button:before {
    background: #addde7 !important;
    border-radius: 50px;
    color: transparent !important;
    width: 14px !important;
    height: 14px!important;
    opacity: 1 !important;
}
.slick-dots .slick-active button:before {
  background: var(--secondary) !important;
}